/* Controls the CSS of the annotation page */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: url(../img/bg.jpeg);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-left: 20px;
}

#antnlp-logo {
    z-index: 100;
    width: 10vw;
}

.word-problem-display {
    margin: 10px;
    border: 2px solid #643F3F;
    height: 80px;
    width: 800px;
    border-radius: 5px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    flex-direction: row;
    overflow: scroll;
    background-color: rgb(188, 210, 210);
}

#p-word-problem-display {
    padding: 5px;
}

.div-home-redirect {
    width: 100px;
    height: 84px;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.div-home-redirect button {
    padding: 10px 25px;
    font-size: 15px;
    background-color: #a9f868;
    border: solid 1px #643F3F;
    border-radius: 5px;
    cursor: pointer;
}

.annotation-display {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border: solid 2px #643F3F;
    border-radius: 5px;
    background-color: #dac8c8;
}

.div-graph-canvas {}

#mynetwork {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 400px;
    border: solid 1px #643F3F;
}


/* To edit node */

#node-popUp {
    display: none;
    position: absolute;
    top: 350px;
    left: 170px;
    z-index: 299;
    width: 250px;
    height: 170px;
    background-color: #f9f9f9;
    border-style: solid;
    border-width: 3px;
    border-color: #5394ed;
    padding: 10px;
    text-align: center;
}


/* prev and next node buttons */

.div-main-container {
    display: table;
}

.div-add-node {
    margin-top: 10px;
    margin-left: 40px;
    width: 80px;
    height: 50px;
    float: left;
}

.div-add-node button {
    padding: 10px 25px;
    font-size: 15px;
    background-color: #a9f868;
    border: solid 1px #643F3F;
    border-radius: 5px;
    cursor: pointer;
}

.div-prev-problem {
    margin-top: 10px;
    margin-right: 50px;
    width: 80px;
    height: 50px;
    float: right;
}

.div-prev-problem button {
    padding: 10px 25px;
    font-size: 15px;
    background-color: #a9f868;
    border: solid 1px #643F3F;
    border-radius: 5px;
    cursor: pointer;
}

.div-next-problem {
    margin-top: 10px;
    margin-right: 50px;
    width: 80px;
    height: 50px;
    float: right;
}

.div-next-problem button {
    padding: 10px 25px;
    font-size: 15px;
    background-color: #a9f868;
    border: solid 1px #643F3F;
    border-radius: 5px;
    cursor: pointer;
}