/* Controls the CSS of the home page */

* {
    margin: 0;
    padding: 0;   
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background: url(../img/bg.jpeg);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-left: 20px;
}

#antnlp-logo {
    z-index: 100;
    width: 10vw;
}

.upload-img {
    padding-left: 50px;
    padding-top: 10px;
}

.dataset-drop-area {
    border: 2px dashed #643F3F;
    height: 80px;
    width: 800px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.dataset-drop-area.active {
    border: 2px solid #643F3F;
    background-color: lightcyan;
}

.dataset-drop-area #upload-icon {
    width: 3vw;
}

.dataset-drop-area header {
    font-size: 20px;
    font-weight: 500;
    color: #643F3F;
}

.dataset-drop-area span {
    font-size: 20px;
    font-weight: 500;
    color: #643F3F;
}

.dataset-drop-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background-color: #ffaf96;
    border: solid 1px #643F3F;
    border-radius: 5px;
    cursor: pointer;
}

.div-delete-dataset {
    width: 100px;
    height: 84px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.div-delete-dataset button {
    padding: 10px 25px;
    font-size: 15px;
    background-color: #ffaf96;
    border: solid 1px #643F3F;
    border-radius: 5px;
    cursor: pointer;
}

.div-delete-dataset button:hover {
    background-color: #fc6b6b;
}

.dataset-display {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border: solid 2px #643F3F;
    border-radius: 5px;
}

.dataset-display a {
    display: block;
    text-decoration: none;
    color: black;
}

.datapoint-card {
    width: 1100px;
    padding: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #643F3F;
    background-color: rgb(242, 250, 250);
}

.datapoint-card:hover {
    background-color: rgb(188, 210, 210);
    border: outset 2px #643F3F;
}
