<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ant-NLP</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/annotationPage.css') }}">
</head>
<body>
    <!-- Keeps track of the word problem number -->
    <p id="p-problem-number" hidden>{{problemNumber}}</p>

    <div class="content">

        <div class="navbar">
            <img src="../static/img/antnlp-logo.svg" alt="Ant-NLP Logo" id="antnlp-logo">
        </div>

        <div class="word-problem-display">
            <p id="p-word-problem-display"></p>
        </div>

        <div class="div-home-redirect">
            <button>Home Page</button>
        </div>
        
        <!-- <div id="mynetwork">N/A</div> -->
    </div>

    <div class="div-graph-canvas">
        <div id="mynetwork">N/A</div>
    </div>
        
    <script src="{{url_for('static', filename='dist/annotationPage.js')}}"></script>
</body>
</html>