<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ant-NLP</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/annotationPage.css') }}">
</head>
<body>

    <p>{{problemNumber}}</p>
    
    <script src="{{url_for('static', filename='javascript/annotationPage.js')}}"></script>
</body>
</html>