<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ant-NLP</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
</head>

<body>
    
    <div class="bg">

    
        <div class="background-one">
            <div class="link-container">
              <a class="link-one" href="#ant-tool">Annotation tool</a>
            </div>
          </div>
          <div class="background-two link-container">
            <a class="link-two" href="#About"">About</a>
          </div>
          <div class="background-three link-container">
            <a class="link-three" href="#dev">Our Team</a>
          </div>
        </div>
        <div class="header-section">
            <div class="header1">
   <div class="demo">
    
    <div class="containerrr">
        <svg viewBox="0 0 960 300">
          <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="80%">ANT-NLP</text>
        
          </symbol>
          
      
          <g class = "g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
          </g>
        </svg>
        
      </div>
      
   </div>
   
          <div class="info"> 
              <h2 class="info-text"> Real Quick Annotations</h2>
              <button class="ttp">Need Demo &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
              <button class="ttk">Learn More </button>
   </div>

   
   
            </div>
        
   <div class="hero">
    <div class="night">
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
      </div>
   </div>
</div>
           
        
        <div class="ant-tool" id="ant-tool">
            <h1>Annotation Tool</h1>
            <div class="ant-tool1">

            
    <div class="content">

        <div class="navbar">
            <img src="../static/img/antnlp-logo.svg" alt="Ant-NLP Logo" id="antnlp-logo">
        </div>
        

        <div class="upload-img">
            <div class="dataset-drop-area">
                <img src="../static/img/upload-icon.svg" alt="Upload Icon" id="upload-icon">
                <header>Drag & Drop to upload json file</header>
                <span>OR</span>
                <button class="button-browse-pushable" role="button"><span class="button-browse-shadow"></span><span class="button-browse-edge"></span><span class="button-browse-front text">Browse Files</span></button>
                <input type="file" hidden>
            </div>
        </div>

        <div class="div-delete-dataset">
            <button class="button-dlt" type="button">
                <div class="label">
                  <span class="hover-effect"></span>
                  <span class="label-text">Delete Set &nbsp;<i class="fa fa-trash"></i></span>
                </div>
              </button>
        </div>
        
    </div>

    <div class="dataset-display dd">
    </div>
    <div class="div-change-page">
      <p class="page-number-display"></p>
      <button class="btn-previous-page">Previous</button>
      <button class="btn-next-page">Next</button>
    </div>
</div>
</div>
<div class="dev" id="dev">
    <section class="team">
        <div class="containerr">
          <div class="row">
            <div class="section-title">
              <h2>Our Team</h2>
            </div>
          </div>
          <div class="row">
            <div class="team-item">
              <img src="../static/img/Aryaman.svg" alt="team" class="devv">
              <h3>Aryaman Kolhe <span>Backend Developer</span></h3>
              <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
            <div class="team-item">
              <img src="../static/img/Devraj.svg" alt="team" class="devv">
              <h3>Devraj Thakur<span>UI Designer</span></h3>
              <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
            <div class="team-item">
              <img src="../static/img/gaurav.svg" alt="team" class="devv">
              <h3>Gaurav Saini <span>React Developer</span></h3>
              <div class="social-links">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
       </section>

</div>

<div class="About" id="About">
    <section>
        <div class = "image">
           <img src="https://cdn.pixabay.com/photo/2017/08/26/23/37/business-2684758__340.png">
        </div>

        <div class = "cont">
            <h2 class="aboutt">About Us</h2>
            <span><!-- line here --></span>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis aspernatur voluptas inventore ab voluptates nostrum minus illo laborum harum laudantium earum ut, temporibus fugiat sequi explicabo facilis unde quos corporis!</p>
            <div id="panel" class="panel-container">
                <strong>How satisfied are you with our <br /> Annotation tool?</strong>
                <div class="ratings-container">
                  <div class="rating">
                    <i class='fas fa-frown' style='font-size:48px;color:yellow'></i>
                    <small class="rev">Unhappy</small>
                  </div>
          
                  <div class="rating">
                    <i class='fas fa-meh' style='font-size:48px;color:yellow'></i>
                    <small class="rev">Neutral</small>
                  </div>
          
                  <div class="rating active">
                    <i class='fas fa-grin-beam' style='font-size:48px;color:yellow'></i>
                    <small class="rev">Satisfied</small>
                  </div>
                </div>
                <button class="btn" id="send">Send Review</button>
              </div>
             
            <ul class = "icons">
                <li>
                    <i class = "fa fa-twitter"></i>
                </li>
                <li>
                    <i class = "fa fa-github"></i>
                </li>
                <li>
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </li>
            </ul>
        </div>
    </section><br><br>
    <div class="credit">Made with <span style="color:tomato">❤</span> by <a href="https://www.linkedin.com/company/qkrishi/">Team Qkrishi</a></div>
  </div>
   

    <script src="{{url_for('static', filename='javascript/main.js')}}"></script>
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</body>
</html>